[submodule "fzf-git.sh"]
	path = fzf-git.sh
	url = https://github.com/junegunn/fzf-git.sh
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vimrc"]
	path = vimrc
	url = https://github.com/klebster2/vimrc.git
