 # vi to be the default editor for readline
set editing-mode vi

# vi settings
$if mode=vi
    # normal mode
    set keymap vi-command
    "gg": beginning-of-history
    "h": backward-char
    "l": forward-char
    "G": end-of-history
    "~~": capitalize-word
    # custom commands
    # inputrc
    ## edit input rc
    "eirc": "i$EDITOR $HOME/.inputrc\r\e"
    ## source input rc
    "sirc": "ibind -f $HOME/.inputrc\r\e"
    # dl: dailylog
    "dl": "idl\r\e"
    # bash: find bash functions
    "ff": "iff\r\e"
    # bash: edit history - see .bashrc
    "ebh": "iebh\r\e"
    # source base rc file '~/.bashrc'
    "sbrc": "isource $HOME/.bashrc\r\e"
    # edit base rc file '~/.bashrc'
    "ebrc": "i$EDITOR $HOME/.bashrc\r\e"
    # tmux
    "st": "itmux source-file $HOME/.tmux.conf\r\e"
    "et": "i$EDITOR $HOME/.tmux.conf\r\e"
    "tn": "itmux new\r\e"
    # vimrc
    "ev": "i$EDITOR $HOME/.vim_runtime/vimrcs/basic.vim\r\e"
    "cdv": "icd $HOME/.vim_runtime\r\e"
    # dailylog
    "dl": "idl\r\e"
    # see ANSI control-code escape sequences corresponding to keys
    "keys": "iinfocmp -L -1"
    "keysx": "iinfocmp -L -1 xterm"
    # insert mode
    set keymap vi-insert
    "jk": vi-movement-mode
    "\e[A": history-search-backward
    "\e[B": history-search-forward
    set show-all-if-ambiguous on
    set completion-ignore-case on
$endif

